# Hugo Standard-Build-Verzeichnis
public/

# Ressourcen-Cache (wird beim Build auf GitHub Actions neu erstellt)
resources/

# temporary lockfile
.hugo_build.lock

# Lokale Umgebungsvariablen oder OS-spezifische Dateien
.DS_Store
thumbs.db
