<div class="custom-post-footer">
    <h4>Thoughts or Questions?</h4>
    <p>I’d love to hear your feedback! Whether you have constructive ideas, questions, or comments, feel free to share them below or leave a reaction.</p>
    <h4>❤️ Support My Work</h4>
    <p>If you enjoyed reading this article or find my work useful in general, please consider supporting me to help keep things running:</p>
      <div class="support-wrapper">
          {{- partial "custom/support-links.html" . -}}
      </div>
    <hr>
</div>
