<div class="custom-post-footer">
    <h4>Fragen oder Anmerkungen?</h4>
    <p>Ich freue mich über dein Feedback! Ob konstruktive Ideen, Fragen oder Kommentare – teile sie gerne unten mit oder hinterlasse eine Reaktion.</p>
    
    <h4>❤️ Unterstütze meine Arbeit</h4>
    <p>Wenn dir der Artikel gefallen hat oder du meine Arbeit generell nützlich findest, freue ich mich über eine kleine Unterstützung, um das Projekt weiterzuführen:</p>
        <div class="support-wrapper">
            {{- partial "custom/support-links.html" . -}}
        </div>
    <hr>
</div>
